//body
.bg1 {
  background-image: linear-gradient(#f7f7ee, #fdd2bb);
  // height: 3488px;
}
.bg2 {
  background-color: #f7f7ee;
  height: 4056px;
}

//Carousal
.eventCarousal {
  width: 100%;
  height: 60vh;
}
.eventCarousal img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// card HomePageCard

.HomePageCard
{
  width: 300px;
  text-align: center;
  color: #383844;
  margin: 0px auto 85px auto;
}
.HomePageCardDate {
  font-family: 'DM Serif Display', serif;
  font-size: 16px;
  margin-bottom: 18px;
  font-style: italic;
}
.HomePageCardTitle {
  font-family: 'Noto Serif TC', serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 26px;
}

.HomePageCardPhoto {
  width: 300px;
  height: 380px;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.HomePageCardContent {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  margin-top: 30px;
  padding-bottom: 12px;
  border-bottom: #707070 1px solid;
}
.HomePageCardRegister {
  font-family: 'Noto Sans TC', sans-serif;
  margin-top: 16px;
}
//
.TextAlignCenter {
  text-align: center;
}
// empty
.Empty {
  height: 80px;
  border-bottom: #383844 1px solid;
  margin-bottom: 25px;
}
.CategoryIcons {
  display: flex;
  justify-content: space-between;
  margin-top: 68px;
  height: 300px;
}
.WaveBackground{
  width: 100%;
}
svg {
  width: 100%;
}
// ecard2
.ecard2 {
  background-color: #fff;
  width: 100%;
  height: 50vh;
  border-radius: 20px;
  position: relative;
}
.bg-pink {
  background-color: #fdd2bb;
}

.photo2 {
  width: 27vw;
  height: 37vh;
  margin: 6vh;
}
img {
  width: 100%;
  height: 100%;
}
.text {
  width: 40vw;
  margin: 6vh;
}
.add {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 22px;
  font-weight: 300;
}
.more {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 300;
  width: 120px;
  border-bottom: 1px solid #000;
  position: absolute;
  right: 6vh;
  bottom: 6vh;
}
h6 {
  border: #383844 1px solid;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding: 1px 19px;
}
.eSearch {
  margin-top: 3.5vh;
}
.fs-36 {
  font-size: 36px;
  text-align: center;
  padding-top: 120px;
  margin-bottom: 25px;
}
.Enav > ul > li > a {
  position: relative;
  display: block;
  padding: 15px 30px 5px 30px;
  font-size: 18px;
  font-family: 'Noto Sans TC', sans-serif;
}
.Enav > ul > li {
  list-style: none;
}
.Enav > ul > li > a:hover {
  font-weight: 500;
  transition: 0.3s;
  color: #e64b4b;
}
.Enav > ul > li > a:after {
  /* background: none repeat scroll 0 0 transparent; */
  bottom: 3;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #e64b4b;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.Enav > ul > li > a:hover:after {
  width: 100%;
  left: 0;
}
.Enav {
  width: 100%;
  border-top: #383844 1px solid;
  border-bottom: #383844 1px solid;
}
// select option
.eSELECT,
.eINPUT {
  width: 12.5vw;
  height: 5vh;
  border-radius: 10px;
  margin-right: 20px;
  padding: 0 0 0 20px;
}
.eINPUT {
  border: #707070 0.5px solid;
}

.eSearchForm {
  width: 100%;
  margin-top: 30px;
  position: relative;
}
.toRight {
  position: absolute;
  right: 0px;
}
// card3
.ecard3 {
  width: 100%;
  position: relative;
}
.photo3 {
  width: 33vw;
  height: 60vh;
  margin: 15vh 5vh 15vh 1vh;
}
img {
  width: 100%;
  height: 100%;
}
.text3 {
  width: 35vw;
  margin: 15vh 6vh;
}
.Ebtn {
  border: none;
}
.Ebtn-group {
  width: 118px;
}
.ebtn-border {
  width: 35vw;
  height: 42px;
  border-radius: 2rem;
  background-color: #f7f7ee;
  border: 1px solid #383844;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  position: absolute;
  bottom: 15vh;
}
.btn-border:hover {
  transition: 0.3s;
  background-color: #383844;
  color: #f7f7ee;
}
.smallPhoto {
  height: 240px;
  margin-top: 15vh;
}
.sm {
  width: 80px;
  height: 80px;
  padding: 1vh;
}
.sm img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.photo474 {
  width: 33vw;
  height: 37vh;
  margin: 8vh auto;
}
.mt17vh {
  margin-top: 17vh;
  width: 100%;
}
.fluidPhoto {
  margin-top: 8vh;
  width: 100%;
  height: 57vh;
}
.fluidPhoto img {
  width: 100%;
  height: 100%;
}
.paper {
  width: 100%;
  height: 156vh;
  margin-top: 8vh;
  background-color: #fff;
}
.box{
  height: 150px;
  width: 150px;
  background-color: #fff;
  border-radius: 50%;
}
.box-middle-right{
  transform: translate(25px,80px);
}
.box-middle-left{
  transform: translate(-25px,80px);
}
.box-bottom{
  transform: translateY(250px);
}